<!DOCTYPE html>
<html >
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Latest compiled and minified CSS -->
    <script   src="https://code.jquery.com/jquery-2.2.3.min.js"   integrity="sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo="   crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <link rel="stylesheet" href='/public/css/viewjam.css'/>
  </head>
  <body>
    <div class="container"></div>
		<h1> Jam View</h1>
      <div class="row">
      	<div class="col-sm-6">
				Title:
      	</div>
      	<div class="col-sm-6">
				Jam Title Here      	
      	</div>
     <dl class="dl-horizontal">
      	<dt>Instruments:</dt>
		
		<class="h5">	
		<h5>Saxophone
        <span class="btn-group">
            <button class="btn btn-primary btn-sm">Join</button>
        </span>
		</h5> 
		<h5>Trumpet
        <span class="btn-group">
            <button class="btn btn-primary btn-sm">Join</button>
        </span>
		</h5> 
		<h5>Drums
        <span class="btn-group">
            <button class="btn btn-primary btn-sm">Join</button>
        </span>
		</h5> 
		<h5>Sitar
        <span class="btn-group">
            <button class="btn btn-primary btn-sm">Join</button>
        </span>
		</h5>
      </dl>
     <dl class="dl-horizontal">
      	<dt>Date/time:</dt>
	<dd>4/20, 4:20pm/am</dd>
     </dl>
     <dl class="dl-horizontal">
      	<dt>Location:</dt>
	<dd>Djibouti Court House, Djibouti, 12345</dd>
     </dl>
     <dl class="dl-horizontal">
      	<dt>comments:</dt>
	<dd>stuff and things and stuff and things and stuff and things and things and stuff</dd>
     </dl>
    </div>
  </body>
</html>
