<!DOCTYPE html>
<html >
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Latest compiled and minified CSS -->
    <script   src="https://code.jquery.com/jquery-2.2.3.min.js"   integrity="sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo="   crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <link rel="stylesheet" href='/public/css/index.css'/>
  </head>
  <body>
    <div class="container">
       <h1> Jam View</h1>
      <d1 class="d1-horizontal">
      	<dt>Title:<dt>
	<dd>Jam Title<dd>
      </d1>
     <d2 class="d2-horizontal">
      	<dt>Instruments:<dt>
	<dd>Saxaphone, drums, ukalele, bongos, maracas, trashcan<dd>
     </d2>
     <d3 class="d3-horizontal">
      	<dt>Date/time:<dt>
	<dd>4/20, 4:20pm/am<dd>
     </d3>
     <d4 class="d4-horizontal">
      	<dt>Location:<dt>
	<dd>Djibouti Court House, Djibouti, 12345<dd>
     </d4>
     <d5 class="d5-horizontal">
      	<dt>comments:<dt>
	<dd>stuff and things and stuff and things and stuff and things and things and stuff<dd>
     </d5>
    </div>
  </body>
</html>
